apiVersion: v1
clusters:
- cluster:
    certificate-authority: /srv/grader/minikube-ca.crt
    server: https://192.168.39.179:8443
  name: minikube
contexts:
- context:
    cluster: minikube
    user: minikube
  name: minikube
current-context: minikube
kind: Config
preferences: {}
users:
- name: minikube
  user:
    client-certificate: /srv/grader/minikube-client.crt
    client-key: /srv/grader/minikube-client.key
